.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: #c8eed3;
}

.some-text {
    color: darkslateblue;
}

.select {
    margin-left: 20px;
}