.main {
    display: flex;
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    margin: 10px 0 10px 10px;
}

.avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.angle {
    height: 15px;
    width: 15px;
    background-color: #c8eed3;
}

.in {
    height: 15px;
    width: 15px;
    background-color: #f4f5f1;
    border-radius: 0 0 30px 0;
}

.text {
    display: flex;
    background-color: #c8eed3;
    padding: 5px 5px 5px 5px;
    flex-wrap: wrap;
    width: 30%;
    /*height: 30px;*/
    border-radius: 15px 15px 15px 0;
    margin: 10px 10px 10px 0;
    justify-content: flex-start;
    flex-direction: column;
}

.name {
    font-weight: bold;
    font-size: 15px;
    color: #193426;
    line-height: 2px;
    margin-left: 5px;
}

.message {
    line-height: 15px;
    width: 100%;
    color: #193426;
    margin: 5px;
}

.time {
    text-align: right;
    color: #193426;
    font-size: 12px;
    margin: 0 20px 0 15px;
}