.superInput {
    width: 200px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

.errorInput {
    border: 3px solid #c24f4f;
    background: rgba(147, 227, 162, 0.31);
    border-radius: 8px;
}

.error {
    color: #b09898;
}