.superInput {
    width: 200px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

.errorInput {
    border: 3px solid #da3232;
    background: #c29f9f;
    border-radius: 8px;
}

.error {
    color: #b09898;
}